*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!apps/
!apps/backend/
!apps/backend/**
!packages/
!packages/**

.git
.turbo
node_modules
**/node_modules
**/dist
**/coverage
**/.next
**/.nuxt
**/.cache
**/.env
**/.env.local
**/.env.*.local
